.version.autoleit_selected /* version checker */
{
	color: #000013;
	background-color: #70BA41;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 481px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 19px;
	margin-left: auto;
	margin-right: auto;
}

#u736
{
	z-index: 2;
	width: 48px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 571px;
	padding: 207px 213px 196px 198px;
}

#u648
{
	z-index: 5;
	width: 48px;
	height: 9px;
	position: relative;
	background: transparent url("../images/up_arrow-u648-fr.png") no-repeat center center;
	background-size: contain;
}

#u782
{
	z-index: 11;
	width: 41px;
	height: 16px;
	margin-top: 10px;
	position: relative;
}

#u647
{
	z-index: 4;
	width: 48px;
	height: 9px;
	margin-top: 13px;
	position: relative;
	background: transparent url("../images/down_arrow%20(2)-u647-fr.png") no-repeat center center;
	background-size: contain;
}

#u95
{
	z-index: 3;
	width: 187px;
	position: relative;
	margin-right: -10000px;
	padding: 86px 111px 121.20000000000005px 287px;
	background: transparent url("../images/menu_autoleit_selected.jpg") no-repeat center center;
	background-size: contain;
}

#u797
{
	z-index: 12;
	width: 148px;
	height: 17px;
	position: relative;
}

#u764
{
	z-index: 6;
	width: 187px;
	height: 15px;
	margin-top: 7px;
	position: relative;
}

#u765
{
	z-index: 7;
	width: 76px;
	height: 13px;
	margin-top: 9px;
	position: relative;
}

#u766
{
	z-index: 8;
	width: 100px;
	height: 10px;
	margin-top: 9px;
	position: relative;
}

#u767
{
	z-index: 9;
	width: 108px;
	height: 16px;
	margin-top: 7px;
	position: relative;
}

#u768
{
	z-index: 10;
	width: 108px;
	height: 18px;
	margin-top: 6px;
	position: relative;
}

.ie #u782,.ie #u797,.ie #u764,.ie #u765,.ie #u766,.ie #u767,.ie #u768
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

