.version.dagskr_ /* version checker */
{
	color: #000015;
	background-color: #627978;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 481px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 19px;
	margin-left: auto;
	margin-right: auto;
}

#u736
{
	z-index: 2;
	width: 48px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 571px;
	padding: 206px 213px 198px 198px;
}

#u642
{
	z-index: 5;
	width: 48px;
	height: 9px;
	position: relative;
	background: transparent url("../images/up_arrow-u648-fr.png") no-repeat center center;
	background-size: contain;
}

#u776
{
	z-index: 11;
	width: 38px;
	height: 10px;
	margin-top: 15px;
	position: relative;
}

#u641
{
	z-index: 4;
	width: 48px;
	height: 9px;
	margin-top: 13px;
	position: relative;
	background: transparent url("../images/down_arrow%20(2)-u647-fr.png") no-repeat center center;
	background-size: contain;
}

#u279
{
	z-index: 3;
	width: 187px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	padding: 85px 105px 122.19999999999996px 293px;
	background: transparent url("../images/menu_dagskra_selected.jpg") no-repeat center center;
	background-size: contain;
}

#u795
{
	z-index: 12;
	width: 146px;
	height: 16px;
	position: relative;
}

#u754
{
	z-index: 6;
	width: 187px;
	height: 15px;
	margin-top: 8px;
	position: relative;
}

#u755
{
	z-index: 7;
	width: 76px;
	height: 13px;
	margin-top: 9px;
	position: relative;
}

#u756
{
	z-index: 8;
	width: 100px;
	height: 10px;
	margin-top: 9px;
	position: relative;
}

#u757
{
	z-index: 9;
	width: 108px;
	height: 16px;
	margin-top: 7px;
	position: relative;
}

#u758
{
	z-index: 10;
	width: 108px;
	height: 18px;
	margin-top: 6px;
	position: relative;
}

.ie #u776,.ie #u795,.ie #u754,.ie #u755,.ie #u756,.ie #u757,.ie #u758
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

