.version.handvirkleitloki_ /* version checker */
{
	color: #000010;
	background-color: #A67C44;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u395
{
	z-index: 24;
	width: 585px;
	height: 334px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../images/handvirk_leitlokid.jpg") no-repeat center center;
	background-size: contain;
}

#pu708
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 106px;
	margin-left: 585px;
}

#u708
{
	z-index: 30;
	width: 62px;
	height: 63px;
	position: relative;
	background: transparent url("../images/up_arrow.png") no-repeat center center;
	background-size: contain;
}

#u707
{
	z-index: 29;
	width: 62px;
	height: 63px;
	position: relative;
	background: transparent url("../images/down_arrow%20(2).png") no-repeat center center;
	background-size: contain;
}

#u706-4
{
	z-index: 25;
	width: 54px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 647px;
}

#u721
{
	z-index: 2;
	width: 334px;
	padding-bottom: 23px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 714px;
}

#u722-21
{
	z-index: 3;
	width: 303px;
	min-height: 372px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 16px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

