.version.handvirkleit_manyselected /* version checker */
{
	color: #000003;
	background-color: #348300;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 481px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 19px;
	margin-left: auto;
	margin-right: auto;
}

#u736
{
	z-index: 2;
	width: 48px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 571px;
	padding: 207px 213px 196px 198px;
}

#u684
{
	z-index: 5;
	width: 48px;
	height: 9px;
	position: relative;
	background: transparent url("../images/up_arrow-u648-fr.png") no-repeat center center;
	background-size: contain;
}

#u792
{
	z-index: 6;
	width: 40px;
	height: 18px;
	margin-top: 8px;
	position: relative;
}

.ie #u792
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u683
{
	z-index: 4;
	width: 48px;
	height: 9px;
	margin-top: 13px;
	position: relative;
	background: transparent url("../images/down_arrow%20(2)-u647-fr.png") no-repeat center center;
	background-size: contain;
}

#u369
{
	z-index: 3;
	width: 585px;
	height: 334px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	background: transparent url("../images/handvirkleit_manyselected.jpg") no-repeat center center;
	background-size: contain;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

