.version.index /* version checker */
{
	color: #0000F6;
	background-color: #ECEFDB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	width: 906px;
	padding-bottom: 169px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 34px;
	background: transparent url("../images/menu_default.jpg") no-repeat center center;
	background-size: contain;
}

#u183
{
	z-index: 3;
	width: 32px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 40px;
	background: transparent url("../images/up_arrow.jpg") no-repeat center center;
	background-size: contain;
}

#u198-4
{
	z-index: 5;
	width: 37px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 78px;
}

#u190
{
	z-index: 4;
	width: 32px;
	height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 74px;
	background: transparent url("../images/down_arrow.jpg") no-repeat center center;
	background-size: contain;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

