.version.index /* version checker */
{
	color: #0000E6;
	background-color: #A833CF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 481px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 19px;
	margin-left: auto;
	margin-right: auto;
}

#u736
{
	z-index: 2;
	width: 459px;
	height: 460px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 571px;
}

#u75
{
	z-index: 3;
	width: 187px;
	position: relative;
	margin-right: -10000px;
	padding: 111px 115px 120.19999999999999px 283px;
	background: transparent url("../images/menu_default.jpg") no-repeat center center;
	background-size: contain;
}

#u744
{
	z-index: 4;
	width: 187px;
	height: 15px;
	position: relative;
}

#u745
{
	z-index: 5;
	width: 76px;
	height: 13px;
	margin-top: 9px;
	position: relative;
}

#u746
{
	z-index: 6;
	width: 100px;
	height: 10px;
	margin-top: 9px;
	position: relative;
}

#u747
{
	z-index: 7;
	width: 108px;
	height: 16px;
	margin-top: 7px;
	position: relative;
}

#u748
{
	z-index: 8;
	width: 108px;
	height: 18px;
	margin-top: 6px;
	position: relative;
}

.ie #u744,.ie #u745,.ie #u746,.ie #u747,.ie #u748
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

