#u721
{
	background-color: #939393;
	background-color: rgba(0,0,0,0.42);
	position: relative;
	-pie-background: rgba(0,0,0,0.42);
}

#u722-21
{
	background-color: transparent;
	font-size: 10px;
	line-height: 12px;
	position: relative;
}

