.version.untitled_9 /* version checker */
{
	color: #00000E;
	background-color: #A5C177;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu626
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 197px;
	margin-left: 450px;
}

#u626
{
	z-index: 29;
	width: 62px;
	height: 63px;
	position: relative;
	background: transparent url("../images/up_arrow.png") no-repeat center center;
	background-size: contain;
}

#u619
{
	z-index: 28;
	width: 62px;
	height: 63px;
	position: relative;
	background: transparent url("../images/down_arrow%20(2).png") no-repeat center center;
	background-size: contain;
}

#u207-4
{
	z-index: 24;
	width: 54px;
	min-height: 37px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 512px;
}

#u721
{
	z-index: 2;
	width: 246px;
	padding-bottom: 23px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 714px;
}

#u722-21
{
	z-index: 3;
	width: 223px;
	min-height: 372px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 11px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

