.version.uppsetning /* version checker */
{
	color: #000012;
	background-color: #E2DD21;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u292
{
	z-index: 24;
	width: 585px;
	height: 334px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
	background: transparent url("../images/menu_uppsetning_selected.jpg") no-repeat center center;
	background-size: contain;
}

#pu645
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 124px;
	margin-left: 605px;
}

#u645
{
	z-index: 30;
	width: 62px;
	height: 63px;
	position: relative;
	background: transparent url("../images/up_arrow.png") no-repeat center center;
	background-size: contain;
}

#u644
{
	z-index: 29;
	width: 62px;
	height: 63px;
	position: relative;
	background: transparent url("../images/down_arrow%20(2).png") no-repeat center center;
	background-size: contain;
}

#pu721
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 667px;
}

#u721
{
	z-index: 2;
	width: 246px;
	padding-bottom: 23px;
	margin-right: -10000px;
	left: 47px;
}

#u722-21
{
	z-index: 3;
	width: 223px;
	min-height: 372px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 11px;
}

#u643-4
{
	z-index: 25;
	width: 54px;
	min-height: 37px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

